- if forum.messages.length < 1000
  = form_for [forum, message], :remote => true do |f|
    .validation-error
    = hidden_field_tag :from_position, forum.messages.order(:position).last.position
    .submit
      = f.submit '書き込む'
    .name
      = f.label :name
      %span.name
        = session[:nickname] || '名無しさん'
    .email
      = f.label :email, 'E-mail(省略可)'
      = f.text_field :email
    .body
      = f.text_area :body
- else
  %p
    = 'このフォーラムは書き込み上限に達しました。'
