- if forum.messages.length < 1000
  = form_for [forum, message] do |f|
    %fieldset
      %div
        = f.submit '書き込む'
        = f.label :name
        %span.name
          = session[:nickname] || '名無しさん'
        = f.label :name, 'E-mail(省略可)'
        = f.text_field :email
      %div
        = f.text_area :body, :size => '80x5'
- else
  %p
    = 'このフォーラムは書き込み上限に達しました。'
