- content_for :title do
  フォーラムの新規作成
%h1.title
  フォーラムの新規作成
.forum
  %ul
    - @forum.errors.full_messages.each do |msg|
      %li
        = msg
  = form_for @forum do |f|
    %fieldset
      %div
        = f.label :title
        = f.text_field :title
        = f.submit '新規フォーラム作成'
      %div
        = fields_for @message do |f|
          .name
            = f.label :name
            %span.name
              = session[:nickname] || '名無しさん'
          .email
            = f.label :email, 'E-mail(省略可)'
            = f.text_field :email
          .body
            = f.text_area :body
  %p
    = link_to '掲示板に戻る', root_path
