!!!
%html
  %head
    %title
      W1bbs
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .header
      - if current_user
        = "Hello, #{current_user[:nickname]}."
        = link_to 'ログアウト', logout_path
      - else
        = link_to 'Facebookでログインする', 'auth/facebook'
    .main
      = yield
